@import "tailwindcss";
@import "../node_modules/nes.css/css/nes.css";

@theme {
  --color-darkgreen: #0d0d0d;
  --color-deepgreen: #003333;
  --color-midgreen: #0b6648;
  --color-coolgreen: #439960;
  --color-palegreen: #89cc89;
  --color-lightgreen: #eeffe6;
  --font-sans: "Inter", "sans-serif";
  --font-heading: "Poppins", "sans-serif";
  --font-mono: "Fira Code", "monospace";
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(
      closest-side at calc(100% / 6) 50%,
      #99a1af 90%,
      #0000
    )
    0/75% 100%;
  position: relative;
  animation: l15-0 1s infinite linear;
}
.loader::before {
  content: "";
  position: absolute;
  background: inherit;
  clip-path: inset(0 0 0 50%);
  inset: 0;
  animation: l15-1 0.5s infinite linear;
}
@keyframes l15-0 {
  0%,
  49.99% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
@keyframes l15-1 {
  0% {
    transform: translateX(-37.5%) rotate(0turn);
  }
  80%,
  100% {
    transform: translateX(-37.5%) rotate(1turn);
  }
}
